@font-face {
  font-family: "antoniobold";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/antonio/antonio-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/antonio/antonio-bold-webfont.woff2") format("woff2"), url("fonts/antonio/antonio-bold-webfont.woff") format("woff"), url("fonts/antonio/antonio-bold-webfont.svg#antoniobold") format("svg"); }
@font-face {
  font-family: "notera";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/notera/notera-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/notera/notera-webfont.woff2") format("woff2"), url("fonts/notera/notera-webfont.woff") format("woff"), url("fonts/notera/notera-webfont.svg#notera") format("svg"); }
body {
  background-color: #ccc; }

h1, h2, h3 {
  font-family: "antoniobold", Helvetica, Arial, sans-serif; }

.cursive {
  font-family: "notera", cursive; }

#homeHero {
  background-image: url("../img/home/hero/trueparallel-hero.jpg");
  background-image: url("../img/home/hero/trueparallel-hero.jpg");
  padding: 0;
  margin: -16px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  overflow: hidden; }
  #homeHero * h1, #homeHero h2, #homeHero h3 {
    color: white; }
  #homeHero h1 {
    color: white; }
    #homeHero h1:nth-of-type(1) {
      font-size: 77px;
      margin-top: 80px;
      margin-bottom: -18px;
      margin-left: 2%; }
    #homeHero h1:nth-of-type(2) {
      font-size: 60px;
      margin-top: 0;
      margin-left: 8%; }
  #homeHero *.tagline {
    width: 100%;
    position: absolute;
    margin-left: 8%; }

#logo {
  margin: 30px; }

#modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: 10%;
  margin-bottom: -50%;
  z-index: 99; }

#logo-slider {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%; }
  #logo-slider img:nth-child(1) {
    margin-top: 60px;
    margin-right: 30px; }
  #logo-slider img:nth-child(2) {
    position: absolute; }

.logoSliding {
  -webkit-animation-name: logoSliding;
  -moz-animation-name: logoSliding;
  animation-name: logoSliding;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-direction: alternate-reverse;
  -moz-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }
@-webkit-keyframes logoSliding {
  0% {
    margin-left: 0; }
  30% {
    margin-left: 75%; }
  100% {
    margin-left: 75%; } }
@-moz-keyframes logoSliding {
  0% {
    margin-left: 0; }
  30% {
    margin-left: 75%; }
  100% {
    margin-left: 75%; } }
@keyframes logoSliding {
  0% {
    margin-left: 0; }
  30% {
    margin-left: 75%; }
  100% {
    margin-left: 75%; } }
#homeHeroXY {
  margin-top: -10%; }
  #homeHeroXY div:nth-child(1) {
    margin-left: -5%; }
  #homeHeroXY div:nth-child(2) {
    padding-top: 15%; }
    #homeHeroXY div:nth-child(2):nth-child(1) {
      display: none; }
  #homeHeroXY div:nth-child(3) {
    padding-top: 45%; }
  #homeHeroXY #heroImage {
    position: absolute; }
    #homeHeroXY #heroImage img {
      width: 100%; }
  #homeHeroXY #LogoPattern {
    opacity: 0.5;
    margin-top: -100vh; }
    #homeHeroXY #LogoPattern * .layer #two {
      margin-top: -20vh; }

#homeHeroY-wrapper {
  margin-top: -75vh; }

#homeHeroY div:nth-child(2) {
  background: #000; }

.arrows {
  margin-top: -60vh;
  top: 200 !important; }
  .arrows #arrow1 {
    margin-top: 150px; }
  .arrows #arrow2 {
    margin-bottom: -150px; }

.zone2 {
  position: relative;
  z-index: 2; }

#orangeBar {
  border: solid white 1px; }

#social-section {
  background-color: white;
  height: 200px;
  position: relative;
  z-index: 9; }

footer {
  min-height: 100px;
  background-color: #6f6d6e; }

/*# sourceMappingURL=style.css.map */
